### Importing Initial Libraries

In [433]:
import numpy as np
import pandas as pd

### Reading and Viewing CSV Files

In [435]:
movies = pd.read_csv("movie_metadata.csv")
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [436]:
movies.shape

(5043, 28)

## ‚òÖ Pre Processing

##### Columns we don't need:
**1.** color &nbsp;&nbsp;&nbsp; **2**. director_facebook_likes &nbsp;&nbsp;&nbsp; **3**. actor_3_facebook_likes &nbsp;&nbsp;&nbsp; **4.** actor_1_facebook_likes &nbsp;&nbsp;&nbsp; **5.** num_critic_for_reviews **6.** cast_total_facebook_likes &nbsp;&nbsp;&nbsp; **7.** facenumber_in_poster &nbsp;&nbsp;&nbsp; **8.** num_user_for_reviews &nbsp;&nbsp;&nbsp; **9.** country &nbsp;&nbsp;&nbsp; **10**. budget &nbsp;&nbsp;&nbsp; <br> **11.** actor_2_facebook_likes &nbsp;&nbsp;&nbsp; **12.** aspect_ratio &nbsp;&nbsp;&nbsp; **13.** movie_facebook_likes

In [439]:
movies.drop(['color', 'director_facebook_likes', 'actor_3_facebook_likes', 'actor_1_facebook_likes', 'num_critic_for_reviews', 'cast_total_facebook_likes', 'facenumber_in_poster', 'num_user_for_reviews', 'country', 'budget', 'actor_2_facebook_likes', 'aspect_ratio', 'movie_facebook_likes'   ], axis=1, inplace=True)
movies.head()

,director_name,duration,actor_2_name,gross,genres,actor_1_name,movie_title,num_voted_users,actor_3_name,plot_keywords,movie_imdb_link,language,content_rating,title_year,imdb_score
0,James Cameron,178.0,Joel David Moore,760505847.0,Action|Adventure|Fantasy|Sci-Fi,NaN,Avatar,886204,Wes Studi,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,English,PG-13,2009.0,7.9
1,Gore Verbinski,169.0,Orlando Bloom,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,Jack Davenport,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,English,PG-13,2007.0,7.1
2,Sam Mendes,148.0,Rory Kinnear,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,Stephanie Sigman,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,English,PG-13,2015.0,6.8
3,Christopher Nolan,164.0,Christian Bale,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,Joseph Gordon-Levitt,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,English,PG-13,2012.0,8.5
4,Doug Walker,NaN,Rob Walker,NaN,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens¬† ...,8,NaN,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN,7.1

##### Dealing with Null Values

In [441]:
movies.isnull().sum()

director_name      104
duration            15
actor_2_name        13
gross              884
genres               0
actor_1_name         8
movie_title          0
num_voted_users      0
actor_3_name        23
plot_keywords      153
movie_imdb_link      0
language            14
content_rating     303
title_year         108
imdb_score           0
dtype: int64

In [442]:
movies = movies.dropna()

print(movies.shape)
movies.info()

(4052, 15)
<class 'pandas.core.frame.DataFrame'>
Index: 4052 entries, 1 to 5042
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   director_name    4052 non-null   object
 1   duration         4052 non-null   float64
 2   actor_2_name     4052 non-null   object
 3   gross            4052 non-null   float64
 4   genres           4052 non-null   object
 5   actor_1_name     4052 non-null   object
 6   movie_title      4052 non-null   object
 7   num_voted_users  4052 non-null   int64
 8   actor_3_name     4052 non-null   object
 9   plot_keywords    4052 non-null   object
 10  movie_imdb_link  4052 non-null   object
 11  language         4052 non-null   object
 12  content_rating   4052 non-null   object
 13  title_year       4052 non-null   float64
 14  imdb_score       4052 non-null   float64
dtypes: float64(4), int64(1), object(10)
memory usage: 506.5+ KB

##### We are changing the Dtype of each column

In [444]:
movies['director_name'] = movies['director_name'].astype('string')

movies['duration'] = movies['duration'].astype('Int64')

movies['actor_2_name'] = movies['actor_2_name'].astype('string')

movies['gross'] = movies['gross'].astype('int64')

movies['genres'] = movies['genres'].astype('string')

movies['actor_1_name'] = movies['actor_1_name'].astype('string')

movies['movie_title'] = movies['movie_title'].astype('string')

movies['num_voted_users'] = movies['num_voted_users'].astype('int64')

movies['actor_3_name'] = movies['actor_3_name'].astype('string')

movies['plot_keywords'] = movies['plot_keywords'].astype('string')

movies['movie_imdb_link'] = movies['movie_imdb_link'].astype('string')

movies['language'] = movies['language'].astype('string')

movies['content_rating'] = movies['content_rating'].astype('string')

movies['title_year'] = movies['title_year'].astype('int64')

movies['imdb_score'] = movies['imdb_score'].astype('float')

##### &nbsp;&nbsp;&nbsp;---------------------------------- OUR PRE PROCESSING IS DONE ---------------------------------

### Working on the 'Movie Info' Section

![Movies Info](Movies_Info.png)

##### This part is easy. We just need to show these data
###### For this, we will create a dataframe with these columns only

In [449]:
movies_info = movies[['movie_title', 'genres', 'director_name', 'actor_1_name', 'actor_2_name', 'actor_3_name', 'imdb_score', 'duration', 'content_rating', 'title_year', 'gross', 'movie_imdb_link' ]]

#### Modifying Column 'genres'

In [451]:
movies_info = movies_info.copy()
movies_info['genres'] = movies_info['genres'].str.replace('|', ', ', regex=False)

movies_info.head(1)

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,imdb_score,duration,content_rating,title_year,gross,movie_imdb_link
1,Pirates of the Caribbean: At World's End,"Action, Adventure, Fantasy",Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,7.1,169,PG-13,2007,309404152,http://www.imdb.com/title/tt0449088/?ref_=fn_t...

#### Modifying Column 'actor_i_name'
##### Join all stars into a single column 'Casts' with comma separation

In [453]:
movies_info = movies_info.copy()  
movies_info.loc[:, 'Casts'] = movies_info[['actor_1_name', 'actor_2_name', 'actor_3_name']].agg(', '.join, axis=1)

movies_info.drop(columns=['actor_1_name', 'actor_2_name', 'actor_3_name'], inplace=True)
movies_info.head(1)

,movie_title,genres,director_name,imdb_score,duration,content_rating,title_year,gross,movie_imdb_link,Casts
1,Pirates of the Caribbean: At World's End,"Action, Adventure, Fantasy",Gore Verbinski,7.1,169,PG-13,2007,309404152,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,"Johnny Depp, Orlando Bloom, Jack Davenport"

#### Modifying Column 'content_rating'

In [455]:
movies_info['content_rating'].value_counts()

content_rating
R            1839
PG-13        1391
PG            607
G              93
Not Rated      49
Unrated        33
Approved       18
X              10
NC-17           6
Passed          3
M               2
GP              1
Name: count, dtype: Int64

In [456]:
movies_info['content_rating'] = movies_info['content_rating'].replace('G', 'U')

movies_info['content_rating'] = movies_info['content_rating'].replace('PG', 'UA')
movies_info['content_rating'] = movies_info['content_rating'].replace('PG-13', 'UA')

movies_info['content_rating'] = movies_info['content_rating'].replace('R', 'A')
movies_info['content_rating'] = movies_info['content_rating'].replace('NC-17', 'A')

valid_ratings = ['U', 'UA', 'A']
movies_info['content_rating'] = movies_info['content_rating'].apply(
    lambda x: x if x in valid_ratings else 'Not Certified'
)

movies_info['content_rating'].value_counts()

content_rating
UA               1998
A                1845
Not Certified     116
U                  93
Name: count, dtype: int64

In [457]:
movies_info.head(1)

,movie_title,genres,director_name,imdb_score,duration,content_rating,title_year,gross,movie_imdb_link,Casts
1,Pirates of the Caribbean: At World's End,"Action, Adventure, Fantasy",Gore Verbinski,7.1,169,UA,2007,309404152,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,"Johnny Depp, Orlando Bloom, Jack Davenport"

In [458]:
#import pickle

#pickle.dump(movies_info,open('movies_info.pkl','wb'))

##### &nbsp;&nbsp;&nbsp;-------------------------------------- THIS SECTION IS DONE -------------------------------------

### Working on the 'Top Recommendations For You' Section

![Top Recommendations](Top_Recommendations.png)

## ‚òÖ Pre Processing

##### ‚ú¶ Deciding which columns are useful and which are not based on domain understanding
ùüè. ùêÜùêûùêßùê´ùêûùê¨
<br>
ùüê. ùêíùêûùê´ùê¢ùêûùê¨_ùêìùê¢ùê≠ùê•ùêû
<br>
ùüë. ùêéùêØùêûùê´ùêØùê¢ùêûùê∞
<br>
ùüí. ùêíùê≠ùêöùê´ùê¨ (ùüè,ùüê,ùüë)
<br>
ùüì. ùêÉùê¢ùê´ùêûùêúùê≠ùê®ùê´:

In [464]:
top_recommendations = movies[['movie_title', 'genres', 'director_name', 'actor_1_name', 'actor_2_name', 'actor_3_name', 'plot_keywords', 'movie_imdb_link' ]]
top_recommendations.head()

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,plot_keywords,movie_imdb_link
1,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...
2,Spectre,Action|Adventure|Thriller,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...
3,The Dark Knight Rises,Action|Thriller,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...
5,John Carter,Action|Adventure|Sci-Fi,Andrew Stanton,Daryl Sabara,Samantha Morton,Polly Walker,alien|american civil war|male nipple|mars|prin...,http://www.imdb.com/title/tt0401729/?ref_=fn_t...
6,Spider-Man 3,Action|Adventure|Romance,Sam Raimi,J.K. Simmons,James Franco,Kirsten Dunst,sandman|spider man|symbiote|venom|villain,http://www.imdb.com/title/tt0413300/?ref_=fn_t...

#### Modifying 'genres' and 'plot_keywords'
##### Replacing '|' with ', ' to make keywords comma separeted

In [466]:
top_recommendations = top_recommendations.copy()
top_recommendations['genres'] = top_recommendations['genres'].str.replace('|', ', ', regex=False)
top_recommendations['plot_keywords'] = top_recommendations['plot_keywords'].str.replace('|', ', ', regex=False)

top_recommendations.head(1)

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,plot_keywords,movie_imdb_link
1,Pirates of the Caribbean: At World's End,"Action, Adventure, Fantasy",Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,"goddess, marriage ceremony, marriage proposal,...",http://www.imdb.com/title/tt0449088/?ref_=fn_t...

##### Converting them into lists:

In [468]:
top_recommendations = top_recommendations.copy()
top_recommendations['genres'] = top_recommendations['genres'].apply(lambda x: [i.strip() for i in x.split(',')])
top_recommendations['plot_keywords'] = top_recommendations['plot_keywords'].apply(lambda x: [i.strip() for i in x.split(',')])

In [469]:
top_recommendations.head(1)

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,plot_keywords,movie_imdb_link
1,Pirates of the Caribbean: At World's End,"[Action, Adventure, Fantasy]",Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,"[goddess, marriage ceremony, marriage proposal...",http://www.imdb.com/title/tt0449088/?ref_=fn_t...

#### Now we will create a 'tag' for each movie using all the columns except the 'movie_title'

##### Replacing the space between two words with an underscore(_)
This is necessary, otherwise each word of the string will be treated as an individual string and our model will be confused between Chris Evans and Chris Hemsworth!

In [472]:
# Dealing with Lists:
top_recommendations['genres'] = top_recommendations['genres'].apply(lambda x:[i.replace(" ","_") for i in x])
top_recommendations['plot_keywords'] = top_recommendations['plot_keywords'].apply(lambda x:[i.replace(" ","_") for i in x])

# Dealing with strings:
top_recommendations.loc[:, 'director_name'] = top_recommendations['director_name'].str.replace(' ', '_')
top_recommendations.loc[:, 'actor_1_name'] = top_recommendations['actor_1_name'].str.replace(' ', '_')
top_recommendations.loc[:, 'actor_2_name'] = top_recommendations['actor_2_name'].str.replace(' ', '_')
top_recommendations.loc[:, 'actor_3_name'] = top_recommendations['actor_3_name'].str.replace(' ', '_')

top_recommendations.head(1)

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,plot_keywords,movie_imdb_link
1,Pirates of the Caribbean: At World's End,"[Action, Adventure, Fantasy]",Gore_Verbinski,Johnny_Depp,Orlando_Bloom,Jack_Davenport,"[goddess, marriage_ceremony, marriage_proposal...",http://www.imdb.com/title/tt0449088/?ref_=fn_t...

#### Generating Tags
We will create 'tags' for each movie by concatenating all the strings in each column except 'movie_title'

In [474]:
# Converting the 'genre' and 'plot_keywords' into a string again
top_recommendations = top_recommendations.copy()
top_recommendations['genres'] = top_recommendations['genres'].apply(lambda x: ' '.join(x))
top_recommendations['plot_keywords'] = top_recommendations['plot_keywords'].apply(lambda x: ' '.join(x))


# Creating the columns 'tags'
top_recommendations.loc[:, 'tags']  = top_recommendations['movie_title'] + ' ' + top_recommendations['genres'] + ' ' + top_recommendations['director_name'] + ' ' + top_recommendations['actor_1_name'] + ' ' + top_recommendations['actor_2_name'] + ' ' + top_recommendations['actor_3_name'] + ' ' + top_recommendations['plot_keywords']

# Checking the head
top_recommendations.head(1)

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,plot_keywords,movie_imdb_link,tags
1,Pirates of the Caribbean: At World's End,Action Adventure Fantasy,Gore_Verbinski,Johnny_Depp,Orlando_Bloom,Jack_Davenport,goddess marriage_ceremony marriage_proposal pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,Pirates of the Caribbean: At World's End¬† Acti...

##### Delete all columns except '_movie_title_', '_tags_', and '_movie_imdb_link_'

In [476]:
# Keeping these 3 columns only
top_recommendations = top_recommendations[['movie_title', 'tags', 'movie_imdb_link', 'director_name', 'actor_1_name', 'actor_2_name', 'actor_3_name']]

# Checking the head
top_recommendations.head(1)

,movie_title,tags,movie_imdb_link,director_name,actor_1_name,actor_2_name,actor_3_name
1,Pirates of the Caribbean: At World's End,Pirates of the Caribbean: At World's End¬† Acti...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,Gore_Verbinski,Johnny_Depp,Orlando_Bloom,Jack_Davenport

In [477]:
top_recommendations['tags'][1]

"Pirates of the Caribbean: At World's End\xa0 Action Adventure Fantasy Gore_Verbinski Johnny_Depp Orlando_Bloom Jack_Davenport goddess marriage_ceremony marriage_proposal pirate singapore"

##### ‚ú§ Now we apply stemming to the words of the tags
'Stemming' refers to the process of reducing words to their root or base form by removing suffixes. For instance, stemming would reduce '_running_', '_runs_', and '_ran_' to the stem '_run_'. The primary goal of stemming is to improve the efficiency and effectiveness of text analysis tasks by treating different variations of a word as the same entity.

In [479]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [480]:
def stem_tags(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [481]:
top_recommendations = top_recommendations.copy() 
top_recommendations['tags'] = top_recommendations['tags'].apply(stem_tags)

top_recommendations['tags'][1]

"pirat of the caribbean: at world' end action adventur fantasi gore_verbinski johnny_depp orlando_bloom jack_davenport goddess marriage_ceremoni marriage_propos pirat singapor"

## ‚òÖ Model Building

#### ‚ú§ VÕüeÕücÕütÕüoÕürÕüiÕüzÕüeÕü tÕüaÕügÕüsÕü uÕüsÕüiÕünÕügÕü TÕüFÕü-IÕüDÕüFÕü :
##### Text vectorization is the process of converting text into numerical representations so that machine learning models can understand and process it. Here are several different ways to vectorize text like:

1. ùêÅùêöùê† ùê®ùêü ùêñùê®ùê´ùêùùê¨ (ùêÅùê®ùêñ): Counts how many times each word appears in the text.
2. ùêñùê®ùê´ùêùùüêùêïùêûùêú: Convert words into dense vectors that capture semantic meaning.
3. ùêìùêÖ-ùêàùêÉùêÖ (ùêìùêûùê´ùê¶ ùêÖùê´ùêûùê™ùêÆùêûùêßùêúùê≤-ùêàùêßùêØùêûùê´ùê¨ùêû ùêÉùê®ùêúùêÆùê¶ùêûùêßùê≠ ùêÖùê´ùêûùê™ùêÆùêûùêßùêúùê≤): Weighs the frequency of a word by how rare it is across documents.

In [484]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=5000, stop_words='english')
vectors = tfidf.fit_transform(top_recommendations['tags']).toarray()

##### ‚û§ Since the tag of a movie consists much less words than 5000, we are getting so many 0's in vectors

#### ‚ú§ Finding Cosine Similarity Between Vectors
Distance is a measure of similarity. The more the distance between two vectors, the less will be the similarity between those two movies.
Now, instead of Eucleadian distance, we will use cosine distance because the large dimension (5000). Eucleadian distance does not work well for large dimension. It is called the 'ùêúùêÆùê´ùê¨ùêû ùê®ùêü ùêùùê¢ùê¶ùêûùêßùê¨ùê¢ùê®ùêßùêöùê•ùê¢ùê≠ùê≤'

In [487]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

##### ‚û§ Note that cosine_similarity is the reciprocal of the cosine_distance and its value ranges between 0 and 1

In [489]:
def recommend(movie):
    # Normalize input and movie titles to lowercase and strip whitespace
    movie = movie.strip().lower()
    movie_titles = top_recommendations['movie_title'].str.strip().str.lower()
    
    if movie not in movie_titles.values:
        print("Movie not found in dataset. Please try another one.")
        return

    # Get the correct index using normalized comparison
    movie_index = movie_titles[movie_titles == movie].index[0]
    similarity_index = similarity[movie_index]
    recommended_movies_list = sorted(list(enumerate(similarity_index)), reverse=True, key=lambda x: x[1])[1:6]

    for i in recommended_movies_list:
        print(top_recommendations.iloc[i[0]].movie_title)

In [490]:
import pickle

pickle.dump(top_recommendations,open('Top_Recommendations.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

##### &nbsp;&nbsp;&nbsp;-------------------------------------- THIS SECTION IS DONE -------------------------------------

### Working on the 'Director's Top' Section

![Director's Top](Directors_Top.png)

In [494]:
def dir_recommend(movie):
    # Normalize input and movie titles to lowercase and strip whitespace
    movie = movie.strip().lower()
    movie_titles = top_recommendations['movie_title'].str.strip().str.lower()
    
    if movie not in movie_titles.values:
        print("Movie not found in dataset. Please try another one.")
        return

    # Get the correct index using normalized comparison
    movie_index = movie_titles[movie_titles == movie].index[0]
    
    # Get the selected movie's details
    movie_info = top_recommendations.loc[movie_index]
    
    # Get similarity scores for this movie
    similarity_index = similarity[movie_index]
    
    # Get movies sorted by similarity score (excluding the movie itself)
    recommended_movies_list = sorted(
        list(enumerate(similarity_index)),
        reverse=True,
        key=lambda x: x[1]
    )

    # Filter for movies with the same director
    dir_top_list = []
    for i in recommended_movies_list:
        idx = i[0]
        if idx != movie_index and top_recommendations.iloc[idx]['director_name'] == movie_info['director_name'] and top_recommendations.iloc[idx]['movie_title'] != movie_info['movie_title']:
            dir_top_list.append(top_recommendations.iloc[idx]['movie_title'])
        if len(dir_top_list) >= 6:
            break

    # Display the recommended movies
    if dir_top_list:
        print("Top movies by the same director:")
        for title in dir_top_list:
            print(title)
    else:
        print("No other movies by the same director found in recommendations.")

In [495]:
movie = input("Enter the movie you like")
dir_recommend(movie)

Enter the movie you like Inception

Top movies by the same director:
Interstellar¬†
The Prestige¬†
The Dark Knight¬†
Insomnia¬†
The Dark Knight Rises¬†
Batman Begins¬†

##### &nbsp;&nbsp;&nbsp;-------------------------------------- THIS SECTION IS DONE -------------------------------------

### Working on the 'Actor's Top' Section

![Actor's Top](Actors_Top.png)

In [499]:
def act_recommend(movie):
    # Normalize input and movie titles to lowercase and strip whitespace
    movie = movie.strip().lower()
    movie_titles = top_recommendations['movie_title'].str.strip().str.lower()
    
    if movie not in movie_titles.values:
        print("Movie not found in dataset. Please try another one.")
        return

    # Get the correct index using normalized comparison
    movie_index = movie_titles[movie_titles == movie].index[0]
    
    # Get the selected movie's details
    movie_info = top_recommendations.loc[movie_index]
    
    # Get similarity scores for this movie
    similarity_index = similarity[movie_index]
    
    # Get movies sorted by similarity score (excluding the movie itself)
    recommended_movies_list = sorted(
        list(enumerate(similarity_index)),
        reverse=True,
        key=lambda x: x[1]
    )

    # Filter for movies with the same director
    act_top_list = []
    for i in recommended_movies_list:
        idx = i[0]
        if idx != movie_index and top_recommendations.iloc[idx]['actor_1_name'] == movie_info['actor_1_name'] and top_recommendations.iloc[idx]['movie_title'] != movie_info['movie_title']:
            act_top_list.append(top_recommendations.iloc[idx]['movie_title'])
        if len(act_top_list) >= 6:
            break

    # Display the recommended movies
    if act_top_list:
        print("Top movies by the same actor:")
        for title in act_top_list:
            print(title)
    else:
        print("No other movies by the same director found in recommendations.")

In [500]:
movie = input("Enter the movie:")
act_recommend(movie)

Enter the movie: Inception

Top movies by the same actor:
Revolutionary Road¬†
Titanic¬†
Romeo + Juliet¬†
The Great Gatsby¬†
The Great Gatsby¬†
J. Edgar¬†